body {
	background-color: #aad9f3;
}
h1 {
	text-align: center;
	color: #112A46;
	font-family: "Luckiest Guy", cursive;
	font-weight: 400;
	font-style: normal;
}
a {
	text-decoration: none;
	color: white;
	background-color: #112A46;
	margin-bottom: 50px;
	padding: 25px;
	border-radius: 16px;
	font-size: 30px;
	transition: all 0.2s ease;
	font-family: "Metal Mania", system-ui;
	font-weight: 400;
	font-style: normal;
}
h2 {
	color: #112A46;
	margin-bottom: 5%;
	font-family: "Luckiest Guy", cursive;
	font-weight: 400;
	font-style: normal;
}
nav {
	display: grid;
	grid: repeat(3, 1fr) / repeat(3, 1fr);
	justify-content: space-evenly;
	text-align: center;
	column-gap: 15%;
}
nav a:hover {
	background-color: red;
	transform: scale(1.10);
}